<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miso.misoweather">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".SocketApplication"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Acitivity.updateRegion.UpdateRegionActivity">
        </activity>
        <activity android:name=".Acitivity.selectAnswer.SelectSurveyAnswerActivity">
        </activity>
        <activity android:name=".Acitivity.home.HomeActivity">
        </activity>
        <activity android:name=".Acitivity.getnickname.SelectNickNameActivity">
        </activity>
        <activity android:name=".Acitivity.selectRegion.SelectRegionActivity">
        </activity>
        <activity android:name=".Acitivity.mypage.MyPageActivity">
        </activity>
        <activity android:name=".Acitivity.selectTown.SelectTownActivity">
        </activity>
        <activity android:name=".Acitivity.selectArea.SelectAreaActivity">
        </activity>
        <activity android:name=".Acitivity.chatmain.ChatMainActivity">
        </activity>
        <activity android:name="com.miso.misoweather.Acitivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.miso.misoweather.Acitivity.login.LoginActivity">
        </activity>
        <activity android:name="com.miso.misoweather.Acitivity.weatherdetail.WeatherDetailActivity">
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_key" />
            </intent-filter>
        </activity>
    </application>
</manifest>